@use '../../../styles/mixins/common';
@use '../../../styles/mixins/font';
@use '../../../styles/vars';

.section {
  @include common.flex(column, flex-start, stretch, 62px);

  @include common.media(vars.$tablet) {
    gap: 52px;
  }

  @include common.media(vars.$mobile) {
    gap: 42px;
  }
}

.article {
  @include common.flex(column, flex-start, stretch, 16px);

  & > h5 {
    width: fit-content;

    &:has(span) {
      @include common.flex(row, flex-start, center, 5px);
      flex-wrap: wrap;
      width: 150px;

      & > span {
        display: inline-block;
        @include font.body(vars.$large);
        color: vars.$gray;
      }

      & > button {
        display: inline-block;
      }
    }


    &::after {
      margin-top: 16px;
      flex-shrink: 0;
      content: '';
      display: block;
      width: 350px;
      height: 1px;
      background-color: vars.$lightgray;

      @include common.media(vars.$mobile-medium) {
        margin-top: 8px;
        width: 250px;
      }
    }

  }


  @include common.media(vars.$mobile-medium) {
    gap: 8px;
  }
}

.rating-box {
  @include common.flex(row, flex-start, center, 24px);
  @include font.body(vars.$small);
  width: 220px;
  height: 30px;
  color: vars.$gray;

  & > span {
    @include font.font(18px, 30px, 700);
    display: block;
    height: 100%;
    color: vars.$dark;
  }
}
