@use '../../../styles/mixins/auth';
@use '../../../styles/mixins/font';
@use '../../../styles/vars';

.form {
  & > a {
    @include font.info(vars.$large);
    margin-left: 10px;
    width: fit-content;
    color: vars.$gray;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: vars.$gray;
    }
  }
}

.submit-box {
  @include auth.submit-box;
}
