.card-container {
    @mixin media $smd {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    & .button-android {
        padding-left: 11px;
        padding-right: 11px;

        @mixin media $sm {
            padding-left: 33px;
            padding-right: 33px;
        }
    }

    & .button-apple {
        padding-left: 16.5px;
        padding-right: 16.5px;

        @mixin media $sm {
            padding-left: 36px;
            padding-right: 36px;
        }
    }
}

.title-container {
    & p:first-child {
        margin-bottom: 8px;
        color: $primary-light-6;
    }

    & p:last-child {
        color: $character-light-secondary-45;
        font-size: 14px;
    }
}
