.container {
    margin-bottom: 24px;
    padding: 24px;
    background-color: $neutral-gray-1;
    border-radius: 2px;
    font-size: 16px;
    color: $primary-light-9;

    @mixin media $sm {
        padding: 16px;
    }
}

.list {
    & li {
        &::before {
            margin-right: 4px;
            display: inline-block;
            content: '—';
        }
    }
}
