@use '../../../styles/mixins/font';
@use '../../../styles/mixins/common';
@use '../../../styles/vars';

.box {
  position: relative;
}

.box:not(:focus-within) > .text.highlight {
  border-color: vars.$error-primary;
  color: vars.$error-primary;
}

.box:has(input:not(:placeholder-shown)) > .text > span {
  color: vars.$error-primary;
}

.text {
  @include font.info(vars.$large);
  padding-left: 10px;
  height: 20px;
  color: vars.$gray;
  border-top: 1px solid vars.$gray;
}

.label {
  @include font.body(vars.$small);
  position: absolute;
  left: 10px;
  top: 20px;
  transition: all 0.25s;

  &:has(~input:focus, ~input:not(:placeholder-shown)) {
    @include font.info(vars.$large);
    top: 5px;
    color: vars.$gray;
  }
}

.input {
  @include font.body(vars.$small);
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
  height: 55px;
  background-color: vars.$lightestgray;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;

  &::placeholder {
    opacity: 0;
  }

  &[name="password"] ~ .password-icons {
    @include common.flex(row, flex-start, center, 10px);
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
    cursor: pointer;
    transition: background 0.25s;

    & > span {
      display: block;
      width: 25px;
      height: 25px;

      &.eye {
        @include common.background('../../assets/svg/eye_closed.svg');

        &.opened {
          @include common.background('../../assets/svg/eye_opened.svg');
        }
      }

      &.checkmark {
        @include common.background('../../assets/svg/checkmark.svg');
      }
    }
  }
}
