.container {
    display: flex;
    gap: 16px;

    & .card {
        width: 100%;
        min-width: 182px;
        width: 240px;
        text-align: center;

        @mixin media $lg {
            text-align: left;
        }

        & button {
            color: $primary-light-6;

            &:hover {
                color: $primary-light-5;
            }

            & svg * {
                fill: inherit;
            }
        }
    }
}
